
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: rgb(103,190,228);
    background: linear-gradient(158deg, rgba(103,190,228,1) 0%, rgba(124,214,214,1) 52%, rgba(0,255,218,1) 100%);
}

.usaken {
    width: 75px;
    height:75px;

}

.leftside {
    display: flex;
    align-items: center;
    
}

.logo {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 1000;
    color: #ffb859;
    text-shadow: 2px -2px #070808;
    
}

.rightside {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: sans-serif; 

}

a {
        text-decoration: none;
        color: aliceblue;
        text-shadow: 2px 2px #070808;
        font-weight: 800;
        font-size: 16px;        
}

.contenttop{
    display: flex;
    justify-content: center;        
    flex: 1;
    background: url(./PIC/hololive-usada-pekora-hd-wallpaper.jpg)no-repeat center fixed;
    padding-bottom: 15%;
    
    
    
}

.topbox{
    
    display: flex;
    flex: 1;
    justify-content: center;       
    border-radius: 40px;    
    background-color: rgba(190, 177, 177, 0.7);
    box-shadow: 0 0 20px #070808;
    margin: 5% 10%;
    gap: 32px;
    

}
.rightbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    flex: 1;
    gap: 24px;
    margin: 48px 0;   
    
    
}

.memimg img {
    display: flex;
    flex: 1;
    border-radius: 50px;
    max-width: 800px;
}

.leftbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
          
    
}
.welcome {
    font-size: 36px;
    color: aliceblue;
    font-weight: 800;
    text-shadow: 0 0 5px white,
                 0 0 20px black,
                 0 0 40px white;
    margin-bottom: 16px;

   
}

.welcometext {
    font-size: 16px;
    color: aliceblue; 
    text-shadow: 0 0 5px white;
}

.button1 {
    background-color: #ffb857;
    padding: 32px 64px;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;
    color: aliceblue; 
    font-weight: 1000;
    margin-top: 24px;
    
}

.backgroundcred {
    background-color: #fddf99;
    display: flex;
    justify-content: center;
}

.section2 {
background: linear-gradient(0deg, rgba(153,183,253,1) 15%, rgba(253,223,153,0.5) 100%);
}


.cardbox {
    display: flex;
    gap: 64px;
    justify-content: center;
   
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    gap: 64px;
}

.infotitle{
    color: aliceblue;
    font-size: 64px;
    font-weight: 800;
    text-shadow: 0 0 5px white,
                 0 0 20px black,
                 0 0 40px white;
   
}

.cards {
    max-width: 200px;
}

.cards img{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 0 20px black;
}

.cardtext {
  font-size: 24px;
  text-shadow: 0 0 5px white,
                 0 0 20px black,
                 0 0 40px white;

}

.section3 {
    background: url(./PIC/Pekobg.jpg)no-repeat center fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 64px;
    font-weight: 800;
    color:white;
    text-shadow: 0 0 5px white,
                 0 0 20px black,
                 0 0 40px white;
    padding: 64px 20%;
}

.section4 {
    display: flex;
    background: linear-gradient(0deg, rgba(153,183,253,1) 15%, rgba(253,223,153,0.5) 100%);
    justify-content: center;
    align-items: center;
    flex: 1;
}

.signupcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 4px white;
    border-radius: 15px;
    margin: 128px auto;
    gap: 32px;
    padding: 32px;
}

.signtext {
    display: flex;
    flex-direction: column;
    padding: 32px;
   
        
}

.big {
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 15px black;
}

.small{
    font-size: 24px;
    font-weight: 600;
    color: white;

}

.webpageby {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    background-color: #fee855;
}
