body {
    
}

.topsection{ 
    background-color: #8c9491;
    background-image: url(./PIC/hololive-usada-pekora-hd-wallpaper.jpg);
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: rgb(103,190,228);
    background: linear-gradient(158deg, rgba(103,190,228,1) 0%, rgba(124,214,214,1) 52%, rgba(0,255,218,1) 100%);
}

.usaken {
    width: 75px;
    height:75px;

}

.leftside {
    display: flex;
    align-items: center;
    
}

.logo {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 1000;
    color: #ffb859;
    text-shadow: 2px -2px #070808;
    
}

.rightside {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: sans-serif; 

}

a {
        text-decoration: none;
        color: aliceblue;
        text-shadow: 2px 2px #070808;
        font-weight: 800;
        font-size: 16px;        
}

.contenttop{
    display: flex;
    justify-content: center;
    
    
}

.topbox{
    
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 64px 256px;    
    border-radius: 40px;
    padding: 0px 64px;
    flex-wrap: wrap;
   

}
.topbox:after {
    content:'';    
    background-color: #e59959;
    border-radius: 40px;    
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    

}
.rightbox {
    font-family: cursive;
    z-index: 1;
    flex: 1;
    
}

.leftbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
    z-index: 1;
    flex: 1;
}
.welcome {
    font-size: 36px;
    color: aliceblue;
    font-weight: 800;
    text-shadow: 0 0 5px white,
                 0 0 20px black,
                 0 0 40px white;
    margin-bottom: 16px;

   
}

.welcometext {
    font-size: 16px;
    color: aliceblue; 
    text-shadow: 0 0 5px white;
}

.button1 {
    background-color: #ffb857;
    padding: 32px 64px;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;
    color: aliceblue; 
    font-weight: 1000;
    margin-top: 24px;
    
}

.memimg {
    width: 800px;
    height: auto;
    border-radius: 100px;
    flex-shrink: 1;
    
    
}


